<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>About Me</h1>
          <p>Welcome to <%= title %></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas sed ad soluta, impedit consectetur, ea eos dolore ut inventore sit expedita quae sapiente. Non accusantium fugit, dignissimos expedita earum, porro eos quod nisi amet iure praesentium! Deserunt quod fugit quis provident praesentium non delectus, alias dolores illum neque dolore veniam cumque natus, consequuntur enim odio necessitatibus maiores! Est quasi natus quod quas, aperiam vero pariatur dolore nam vitae atque ducimus qui dicta maxime saepe ut sint porro eum voluptatibus sed maiores enim. Ea eius adipisci eos impedit cupiditate, repellendus praesentium cum ipsa sapiente numquam ex vitae, obcaecati quibusdam debitis itaque. Placeat officiis, perferendis voluptatibus, quibusdam, accusamus explicabo odio quasi optio non eligendi, veritatis laboriosam. Ab, ratione amet in nam quaerat voluptas perspiciatis praesentium rerum! Dolores alias officia quam voluptates minus, ipsum deleniti vel veniam earum veritatis architecto repellendus, sunt laboriosam nam quas corrupti quos, voluptatem dolorum. Harum mollitia veritatis reiciendis deleniti laboriosam, sint impedit ratione maxime perspiciatis officia illum in incidunt eos fuga ad voluptatem voluptates quibusdam recusandae, possimus placeat ut dignissimos ex dolorem pariatur! Quasi nam debitis cumque voluptates eligendi repellat, aliquid ipsa tempora voluptatibus, amet incidunt, libero autem. Enim iste unde, sequi, maxime explicabo, quis nihil nam, odio ab architecto necessitatibus dolores voluptatibus! Perspiciatis voluptatibus optio quasi, nam veniam veritatis blanditiis aliquam non, nostrum esse explicabo obcaecati, tempora odit, sit ullam voluptas amet expedita vero? Officia magnam exercitationem doloribus deserunt, vero non voluptates obcaecati minus optio voluptatibus et, vitae totam neque maiores quasi voluptatem, accusantium ab culpa possimus blanditiis rem. Libero quos asperiores harum temporibus! Omnis, doloribus aut nulla ipsum illum officia, vel dolores! Explicabo aliquid eligendi repellat ratione unde eveniet dolore est suscipit assumenda dolorum. Nobis quae quos ut aspernatur, distinctio accusamus, velit veritatis, quia officiis adipisci reprehenderit fugit nam debitis minus libero corporis qui accusantium rem praesentium vel sequi. Magni ducimus nemo nesciunt aspernatur blanditiis aut asperiores sint et qui, alias dicta, iure perspiciatis omnis accusantium quas quasi adipisci ex necessitatibus at officia laborum atque doloribus. Officiis adipisci excepturi fugit, quisquam dolores cumque magnam molestias, nulla cum odio doloribus. Quod in suscipit perferendis maxime consequatur reiciendis, nemo, sint perspiciatis corrupti sunt, cupiditate quaerat quia dolore aspernatur eveniet laudantium modi nostrum assumenda sed doloremque. Vel recusandae nobis libero similique, optio nam assumenda consectetur, minima voluptatibus suscipit accusantium impedit unde at odit blanditiis aut sint enim quo ipsum deserunt aliquam quia maxime a earum. Totam, omnis aspernatur corporis?</p>
        </div>
      </div>
    </div>

    <!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
